---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import brev from "../assets/images/brev.svg";
import computer from "../assets/images/computer.svg";
import floejter from "../assets/images/floejter.svg";
import mapper from "../assets/images/mapper.svg";
import mobil from "../assets/images/mobil.svg";
import peger from "../assets/images/peger.svg";
import ressourcer from "../assets/images/ressourcer.svg";
import surfer from "../assets/images/surfer.svg";
import venner from "../assets/images/venner.svg";
import footer_bg from "../assets/images/footer_bg.svg";
import devider1 from "../assets/images/devider1.svg";
import devider2 from "../assets/images/devider2.svg";
---

<MainLayout title="Digitalskraldespand">
  <section class="grid md:grid-cols-2 mt-24">
    <picture class="md:col-span-2">
      <source media="(min-width:780px)" srcset="/bg/menu_bg.svg" width="1920" />
      <img src="/bg/mobile_menu_bg.svg" alt="" width="790" height="850" />
    </picture>
    <div class="mx-5 mt-4 grid md:grid-cols-2 items-center absolute">
      <Image class="md:col-start-1" src={surfer} alt="" />
      <article class="grid md:col-start-2 md:justify-center gap-3 text-center pt-4">
        <h1 class="text-5xl md:text-7xl font-poetsen">Digital Skraldedag</h1>
        <h2 class="text-4xl md:text-5xl font-poetsen">Den 15 marts 2025</h2>
        <Link href="https://www.kea.dk" target="_blank" variant="button">Registrer dit bidrag</Link>
      </article>
    </div>
  </section>

  <section id="digitalskrald" class="mt-28">
    <div class="mx-5 lg:mx-[120px] grid md:grid-cols-2 lg:items-center">
      <Image class="w-56 lg:w-80 m-auto pb-4 lg:order-2" src={floejter} alt="" />
      <div>
        <h2 class="pb-6 text-4xl md:text-5xl font-poetsen">Hvad er digital skrald?</h2>
        <p class="prose">Digital Skraldedag er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day. Nu i sit femte år, og organiseret af Let's Do It World, har Digital Skraldedag til formål at øge bevidstheden om digital forurening og opfordre enkeltpersoner og virksomheder til at rydde op og omstrukturere deres online tilstedeværelse.</p>
      </div>
    </div>
    <Image class="mt-28" src={devider1} alt="" />
  </section>

  <section id="vidstedu" class="mt-28">
    <div class="mx-5 lg:mx-[120px] grid md:grid-cols-3 items-center">
      <Image class="w-56 lg:w-80 m-auto pb-4" src={peger} alt="" />
      <h2 class="pb-6 text-5xl font-poetsen">Vidste du at...</h2>
    </div>
    <ul class="mx-8 lg:mx-[180px] list-disc grid md:grid-cols-2 gap-x-8">
      <li class="pb-10">Internettet producerer mere end 900 millioner tons CO2 hvert år! (a), (b), (c), (d)</li>
      <li class="pb-10">99% af al data blev skabt inden for de sidste 10 år. (a)</li>
      <li class="pb-10">En enkelt e-mail udleder i gennemsnit 4 g CO2 = det samme som et lys tændt i 6 minutter! (a), (b), (c)</li>
      <li class="pb-10">320 milliarder e-mails sendes hver dag, og 62 billioner spam-mails hvert år = 20 millioner tons CO2! (a), (b)</li>
      <li class="pb-10">90% af alle data tilgås aldrig efter 3 måneder, når de er gemt. (a)</li>
      <li>Den grænseløse forbrug af data i dag kræver 3 gange mere energi end alle verdens solpaneler kan producere! (a)</li>
    </ul>
  </section>
  <Image class="mt-28" src={devider2} alt="" />

  <section id="sådangørdu" class="mt-28">
    <h2 class="mx-5 lg:mx-[120px] text-5xl font-poetsen">Sådan gør du?</h2>
    <article class="mx-5 lg:mx-[120px] mt-28 md:mt-4 grid md:grid-cols-2 md:items-center">
      <div class="md:order-2"><Image class="w-64 lg:w-80 ml-auto" src={mobil} alt="" /></div>
      <div>
        <h3 class="text-3xl font-poetsen">Trin 1</h3>
        <p class="prose">Ryd op på din smartphone ved at fjerne apps, du ikke har brugt i længere tid, og slet gamle, ubrugte apps og spil. Husk også at slette gamle brugerkonti og data, som du ikke har tilgået i mange år. Dette vil forbedre din telefons hastighed og batterilevetid. Gennemgå dine fotos og videoer, og slet dubletter og unødvendige filer for at frigøre værdifuld opbevaringsplads. Se retningslinjerne for, hvordan du rydder op på din smartphone og tablet.</p>
      </div>
    </article>

    <article class="mx-5 lg:mx-[120px] mt-28 grid md:grid-cols-2 md:items-center">
      <div><Image class="w-64 lg:w-80" src={computer} alt="" /></div>
      <div>
        <h3 class="text-3xl text-right md:text-left font-poetsen">Trin 2</h3>
        <p class="prose">Ryd op på din computer ved at slette dubletter og ubrugelige filer, inklusive slørede fotos og set videoer. Arkiver vigtige filer og vær klar til at opdage interessante ting. Se retningslinjerne for, hvordan du rydder op på din computer og harddisk.</p>
      </div>
    </article>

    <article class="mx-5 lg:mx-[120px] mt-28 grid md:grid-cols-2 md:items-center">
      <div class="md:order-2"><Image class="w-64 lg:w-80 ml-auto" src={brev} alt="" /></div>
      <div>
        <h3 class="text-3xl font-poetsen">Trin 3</h3>
        <p class="prose">Ryd op i din postkasse ved at arkivere gamle e-mails, afmelde nyhedsbreve, og slette lange samtaler, undtagen den nyeste. Saml og slet lignende e-mails for at gøre opgaven lettere. Se retningslinjerne for, hvordan du rydder op i din postkasse.</p>
      </div>
    </article>

    <article class="mx-5 lg:mx-[120px] mt-28 grid md:grid-cols-2 md:items-center">
      <Image class="w-64 lg:w-80" src={mapper} alt="" />
      <div>
        <h3 class="text-3xl text-right md:text-left font-poetsen">Trin 4</h3>
        <p class="prose">Lav nye ordninger ved at bruge co-working steder i stedet for at sende unødvendige e-mails. Opbevar vigtige filer i én cloud og vær bevidst om, hvad du sikkerhedskopierer. Lav mindre 'hurtigt indhold' og vær selektiv med dine videoer og fotos. Små ændringer i dine internetvaner kan betydeligt reducere dit miljøaftryk. Vær kreativ og lev let!</p>
      </div>
    </article>
    <Image class="mt-28" src={devider1} alt="" />
  </section>

  <section id="Inviter" class="mt-28">
    <div class="mx-5 lg:mx-[120px] grid md:grid-cols-2 md:items-center">
      <div>
        <h2 class="text-5xl pb-6 font-poetsen">Inviter en ven</h2>
        <p class="pb-6">Fællesskab gør os stærkere. Når vi deler ansvarlighed med dem omkring os, kan vi skabe større forandringer og en bæredygtig fremtid. Ved at invitere en ven til at deltage i Digital Skraldedag, hjælper du med at sprede bevidstheden om digital forurening og reducerer vores fælles klimaaftryk. Sammen kan vi rydde op i vores digitale verden – én handling ad gangen. Tag første skridt mod en grønnere fremtid, og inviter en ven i dag!</p>
        <Link href="https://www.kea.dk" target="_blank">Inviter her</Link>
      </div>
      <div><Image class="w-56 lg:w-96 m-auto pt-12" src={venner} alt="" /></div>
    </div>
    <Image class="mt-28" src={devider2} alt="" />
  </section>

  <section id="Registrerbidrag" class="mt-28">
    <div class="mx-5 lg:mx-[120px] grid md:grid-cols-2">
      <div class="md:order-2 bg_2">
        <h2 class="text-5xl pb-6 font-poetsen">Registrer dit bidrag</h2>
        <p class="pb-2">Siden 2020 har <span class="font-bold">175 forskellige lande</span> og territorier deltaget i Digital Skraldedag. Næsten <span class="font-bold">1,2 millioner</span> mennesker har slettet over <span class="font-bold">14,5 millioner GB data</span>, hvilket har forhindret den årlige produktion af omkring <span class="font-bold">3.625 tons CO2</span>*.</p>
        <p>Skal DU også være med?</p>
      </div>
      <div><Image class="w-56 lg:w-96 mr-auto pt-12" src={floejter} alt="" /></div>
    </div>

    <form action="" class="mx-5 lg:mx-[220px]">
      <div class="grid md:justify-end">
        <label for=" name"></label><br />
        <select name="liste" class="block md:w-[404px] bg rounded-md focus:border-transparent focus:ring-black">
          <option value="">Land</option>
          <option value="dk">Danmark</option>
          <option value="findland">Finland</option>
          <option value="island">Island</option>
          <option value="norge">Norge</option>
          <option value="sverige">Sverige</option>
        </select><br />
      </div>

      <label for="name"></label>
      <input type="text" placeholder="Fuldenavn" class="block w-full bg rounded-md border-transparent focus:border-transparent focus:ring-black" /><br />

      <label for="email"></label>
      <input type="text" placeholder="E-mail" class="block w-full bg rounded-md border-transparent focus:border-transparent focus:ring-black" /><br />

      <label for="antal"></label>
      <input type="number" placeholder="Antal deltagere" class="block w-full bg rounded-md border-transparent focus:border-transparent focus:ring-black" /><br />

      <label for="mængde"></label>
      <input type="number" placeholder="Mængde af skrald (GB)" class="block w-full bg rounded-md border-transparent focus:border-transparent focus:ring-black" /><br />

      <input type="checkbox" class="bg focus:border-transparent focus:ring-black" />
      <label for="terms">*Jeg er enig med <Link href="#" variant="link">Let's Do It, World Terms and Conditions</Link></label><br />

      <input type="checkbox" class="bg focus:border-transparent focus:ring-black" />
      <label for="nyhedsbrev">Ja tak til nyhedsbrev</label><br />
      <Button variant="button">Registrer dit bidrag</Button>
    </form>

    <Image class="mt-28" src={devider1} alt="" />
  </section>

  <section class="mt-28 mx-5 lg:mx-[120px] grid md:grid-cols-2">
    <div>
      <h2 class="text-5xl pb-6 font-poetsen">Ressourcer og materialer</h2>
      <p>Her finder du vejledninger, værktøjer og materialer, der hjælper dig med at tage ansvar for din digitale oprydning. Uanset om du er enkeltperson, virksomhed, skole eller kommune, har vi samlet alt, du behøver for at reducere dit digitale fodaftryk og bidrage til en mere bæredygtig fremtid i nedstående links.</p>
      <ul class="pt-4">
        <li><Link href="https://drive.google.com/file/d/1LZAIsGLSJl7fOdqdp53YscYc0XTd2xv3/view" target="_blank" variant="link">Retningslinjer for enkeltpersoner</Link></li>
        <li><Link href="https://drive.google.com/file/d/1ZUIJl_EztcJmYF7GVDFN1LMPRtqM_7nM/view" target="_blank" variant="link">Retningslinjer for virksomheder</Link></li>
        <li><Link href="https://drive.google.com/file/d/1dDw_YexhYGTxQIKMqcLMLnyekOTkTpJ0/view" target="_blank" variant="link">Retningslinjer for skoler</Link></li>
        <li><Link href="https://drive.google.com/file/d/1MRiPX57JrppZY4gwtKeKeCc0_rZX040P/view" target="_blank" variant="link">Retningslinjer for kommuner</Link></li>
        <li><Link href="https://drive.google.com/file/d/1i8rKagvbCXk4JciaEg896YUUti3bjLbU/view" target="_blank" variant="link">Sådan rydder du op på din computer og i din Drive</Link></li>
        <li><Link href="https://drive.google.com/file/d/1Capnwt-idzQoVtV1jNTM2HeJnvYVNQIi/view" target="_blank" variant="link">Sådan rydder du op i dine e-mails</Link></li>
        <li><Link href="https://drive.google.com/file/d/1fN0bgV8R1WAirubd_1QlSH17lYHt6eE_/view" target="_blank" variant="link">Sådan rydder du op på din smart- phone og tablet</Link></li>
        <li><Link href="https://docs.google.com/spreadsheets/d/1LvTHVLLRsCICSQ-FMwtqy1whl1PlQFKy/edit?gid=631660431#gid=631660431" target="_blank" variant="link">Deltagerdataindsamling 1</Link></li>
        <li><Link href="https://docs.google.com/spreadsheets/d/1k56qMJsp3zgDhlsCngBhdjaSHP_z9TqM/edit?gid=464700726#gid=464700726" target="_blank" variant="link">Deltagerdataindsamling 2</Link></li>
        <li><Link href="https://trello.com/b/YzROvY3M/digital-cleanup-day" target="_blank" variant="link">Markedsføringsmaterialer</Link></li>
      </ul>
    </div>
    <div class="md:self-end"><Image class="w-56 md:w-96 m-auto pt-12" src={ressourcer} alt="" /></div>
  </section>

  <Image class="mt-28" src={footer_bg} alt="" />

  <style>
    .bg {
      background-color: #d6c8b8;
    }
    .bg_2 {
      background-color: #89a074;
    }
  </style>
</MainLayout>
